.dynamicInput-root {
    height: 35px;
    background: white;
    border-radius: 6px;
}

.dynamicInput-input {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    outline: none;
    width: 270px;
    margin-right: 5px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 18px;
}

.dynamicInput-inputRegularWidth {
    width: 270px;
}

.dynamicInput-inputFullWidth {
    width: 100%;
}

.dynamicInput-input:focus {
    outline: none;
}

.dynamicInput-buttonSubmit:focus {
    outline: none;
}

.dynamicInput-buttonSubmit {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    background: #4cd137;
    color: white;
    font-size: 14px;
    cursor: pointer;
}