.dashboardExplore-root {
    flex: 1;
    background: #0F82BF;
}

.dashboardExplore-title{
    margin: 2%;
    padding: 1%;
    background-color: white;
    max-width: 80%;
    border-radius: 5px;
}

.dashboardExplore-title h1{
    font-size: 30px;
    font-weight: 500;
}

.dashboardExplore-title p{
    margin-top: 1%;
    font-size: 13px;
}

.dashboardExplore-filterGroup{
    margin: 2% 7.5% 1%;
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.dasboardExplore-filter{
    background-color: white;
    width: 23%;
    max-width: 23%;
    padding: 2%;
    border-radius: 10% / 50%;
    font-size: 10px;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dasboardExplore-filter h2{
    margin-top: 3%;
}

.dasboardExplore-filter input{
    border-radius: 5px;
    border: solid 1px #0F82BF;
    font-size: 10px;
    width: 70%;

}

.dashboardExplore-lessonGroup{
    border-radius: 5px;
    background-color: white;
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

