.dashboardCreateCourseQuestion-root {
    width: 70%;
    height: 225px;
    box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.55);
    border-radius: 6px;
}

.dashboardCreateCourseQuestion-stepAndHintContainer {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardCreateCourseQuestion-stepAndHintContainer :nth-child(odd) {
    margin-left: 10px;
}

.dashboardCreateCourseQuestion-stepAndHintContainer :nth-child(even) {
    margin-right: 10px;
}

.dashboardCreateCourseQuestion-question {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}



.dashboardCreateCourseQuestion-question-centerfix {
    max-width: 350px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dashboardCreateCourseQuestion-answer {
    width: 100%;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboardCreateCourseQuestion-answerSection {
    width: 49%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboardCreateCourseQuestion-answerSectionTitle {
    height: 30px;
}