.dashboardSideNav-root {
    position: relative;
    height: 100vh;
    background: #43A4D9;
    transition: width ease-in-out .3s;
    box-shadow: 0.5px 0px 10px #2F3640;
}

.dashboardSideNav-widthModifier {
    position: relative;
    font-size: 30px;
    font-family: Impact, sans-serif;
    color: white;
    text-align: right;
}

.dashboardSideNav-titleLogo-Nav{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dashboardSideNav-tabs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dashboardSideNav-tabs-element{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}