.difficultyInput-root {
    height: 20px;
    font-size: 12px;
    width: 140px;
    border-radius: 6px;
    display: flex;
    align-items: center;

}

.difficultyInput-label {
    margin-left: 5px;
}

.difficultyInput-bubbles {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}

.difficultyInput-bubble {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #BBDFF2;
}

.difficultyInput-bgGreen {
    background: #4cd137 !important;
}