:root {
    --hintBar-backGroundcolor-neutral: #BBDFF2;
    --hintBar-backGroundcolor-important: #E1B12C;
    --hintBar-backGroundcolor-error: #EBAD8C;
    --hintBar-backGroundcolor-success: #BDE8B6;
    --hintBar-height: 25px;
    --hintBar-fontSize: 14px;
    --hintBar-svgWidth: 20px;
}

.hintBar-root {
    height: var(--hintBar-height);
    border-radius: 6px;
    color: #2F3640;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: var(--hintBar-fontSize);
}

.hintBar-text {
    margin-left: 12px;
}

.hintBar-img {
    margin-left: 8px;
    width: var(--hintBar-svgWidth);
}

.hintBar-background-neutral {
    background: var(--hintBar-backGroundcolor-neutral);
}

.hintBar-background-important {
    background: var(--hintBar-backGroundcolor-important);
}

.hintBar-background-error {
    background: var(--hintBar-backGroundcolor-error);
}

.hintBar-background-success {
    background: var(--hintBar-backGroundcolor-success);
}
