@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap') format('sans-serif');

}

.dashboardHome-root {
    background: #399bd0;   
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "header header header header" "main main main main";
}

.dashboardHome-title-home {
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5vw;
    background-color: azure;
    width: 80%;
    border-radius: 0.5vw;
    grid-column-start: 1;
    grid-column-end: 5;
    place-self: center;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1vw;
}

.dashboardHome-square{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    height: 60%;
    width: 80%;
    background-color: azure;
    border-radius: 2vw;
    padding: 10px;
}

.sq1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    place-self: center;
}

.sq2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    place-self: center;
}

.subTitle{
    width: 100%;
    height: 5.6vh;
    border-bottom: 1px solid rgb(207, 207, 207);
}